# Airtable
AIRTABLE_API_TOKEN=
AIRTABLE_BASE_ID=
AIRTABLE_VIDEO_TABLE=Video
AIRTABLE_CAROUSEL_TABLE=Carousel
AIRTABLE_TEXT_TABLE=Text
AIRTABLE_ARTICLE_TABLE=Article

# Karakeep
KARAKEEP_BASE_URL=
KARAKEEP_API_TOKEN=

